    <style>

    /* Reset CSS untuk menghilangkan margin dan padding default */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Style untuk body dan keseluruhan halaman */

        body {
            font-family: Arial, Helvetica, sans-serif sans-serif;
            line-height: 1.6;
            color: #333;
            margin-bottom: 50px;
            margin-top: 70px;
            background: linear-gradient(to right, #d9b9c4, #c4a7bb);
        }

        .navbar {
            box-shadow: 0 2px 5px rgba(214, 158, 178, 0.1);
        }

        /* Style untuk konten utama */

        #content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: #c47eaa;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(126, 7, 48, 0.1);
            margin-top: 20px;
        }

        /* Style untuk header atau tampilan bawah copyright */

        #footer {
            text-align: center;
            padding: 10px;
            background-color: #4b3f3f;
            color: #fff;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        /* Design untuk mobile device */

        @media (max-width: 600px) {
            body {
                padding: 10px;
            }

            #content {
                padding: 15px;
            }
        }
    </style>